/* Custom css styles */

body {
    padding: 0px;
    margin: 0px;
}

/* navigation */
.nav-item {
    
    position: relative;
}

.nav-link.active::before {
    content: "";
    position: absolute;
    top: -14px;
    display: block;
    width: 100%;
    height: 15px;
    background: #e67204;
    transform: skew(-20deg);
}

/* sections */



/* 1st swiper */
.swiper-1 {
    width: 100%;
    height: 60vh;
}

.swiper-2 {
    width: 100%;
    height: 100%;
}

/* Swiper slides */
.swiper-slide {
	position: relative;
}

.swiper-2 img {
    width: 400px;
    height: 400px;
}

.slide-1 {
    background-color: #e67204;
}
.slide-2 {
    background-color: #3bab24;
}
.slide-3 {
    background-color: #922b1d;
}

/* Slide captions */
.slide-captions {
	position: absolute;
	top: 50%;
	left: 15%;
	color: #FFF;
	z-index: 999;
	transform: translateY(-50%);
}
.slide-captions .current-title {
	font-size: 48px;
}
.slide-captions .current-subtitle {
	font-size: 28px;
}

/* Swiper arrows */
.swiper-pagination-bullet-active {
    background-color: #fff;
}

/* Swiper pagination */
.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}

/* custom bootstrap css */

.card-img-top {
    width: 100%;
    
}

/* benefits */

#benefititems img {
    height: 45px;
}

/* Map */
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* nav */ 
.parallelogram {
    width: 280px;
    height: 74px;
    transform: skew(-20deg);
    background: white;
    position: absolute;
    z-index: 1;
    left: 25vh;
  }
.navbar-brand {
position: relative;
transform: skew(20deg);
z-index: 2;
left: 21px;
top: 7px;
}

/* Price cards */
.card-img-cover {
clip-path: polygon(0% 14%,100% 0%,100% 100%,0% 100%);
}

/* Identifikacie aktivnej polozky v navigacii */ 

#navbar-scroll .nav-item {
    position: relative;
    color: white;
  }
  

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)  { 
    #navbar-scroll .nav-link.active::before {
      content: '';
      display: block;
      height: 5px;
      background-color: orange;
      position: absolute;
      top: -13px;
      width: 75%;
    }
    
    #navbar-scroll .nav-link::before {
      content: '';
      display: block;
      height: 5px;
      background-color: orange;
      position: absolute;
      top: -13px;
      width: 0%;
      transition: all linear 250ms;
    }
    
    #navbar-scroll .nav-link:hover::before {
      width: 75%;
    }
   }