/* Custom css styles */

body {
    padding: 0px;
    margin: 0px;
}

/* 1st swiper */
.swiper-1 {
    width: 100%;
    height: 60vh;
}

.swiper-2 {
    width: 100%;
    height: 100%;
}

/* Swiper slides */
.swiper-slide {
	position: relative;
}

.swiper-2 img {
    width: 400px;
    height: 400px;
}

.slide-1 {
    background-color: #e67204;
}
.slide-2 {
    background-color: #3bab24;
}
.slide-3 {
    background-color: #922b1d;
}

/* Slide captions */
.slide-captions {
	position: absolute;
	top: 50%;
	left: 15%;
	color: #FFF;
	z-index: 999;
	transform: translateY(-50%);
}
.slide-captions .current-title {
	font-size: 48px;
}
.slide-captions .current-subtitle {
	font-size: 28px;
}

/* Swiper arrows */
.swiper-pagination-bullet-active {
    background-color: #fff;
}

/* Swiper pagination */
.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}

/* custom bootstrap css */

.card-img-top {
    width: 100%;
    
}

/* benfits */

#benefititems img {
    height: 45px;
}